<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/1_Basics/01_Getting_Started.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [4]:
''' x = 25
y = 4
x2 = 26
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x2 % y)
print(10>5) '''
''' print(7 > 3) and (2 == 2)
print(7 > 3) and (2 != 2)
print (not(5<=5)) '''
''' s = "Data Science"
print(s[:4])
print(s[-3:])
s2 = s.replace("Science", "Engineering")
print(s2)  '''
''' cities = ["Istanbul", "Ankara", "Izmir"]
cities.append("Bursa")
print(cities)
cities[-1]="Antalya"
print(cities)
print(cities[:-2]) '''
''' grid=[["A", "B"],["C","D"]]
grid[0],[1]
grid[1],[0] '''
''' car = {"brand":"Toyota", "year":2020}
["color"] = "white"
car ["year"]=2022
print(car)
print(car["brand"], car["year"]) '''
''' t = ("A", "B", "B")
s = {"A", "B", "B"}
print(t)
print(s) '''
''' score = 78
if score >= 90:
  grade = "A"
elif score >=80:
  grade = "B"
elif score >=70:
  grade = "C" '''
''' for n in [11,40]:
  if n % 2 == 0:
    print(n, "is even")
  else:
    print(n, "is odd") '''
''' items = ["a", "b", "c"]
for item in items:
  print(item)
for i in range(3):
  print(i)
for idx, val in enumerate(items):
  print(idx, val)
 '''
''' salary_list = [100000, 120000, 130000]

def calculate_salary(base_salary, bonus_rate=.1):

  return base_salary * (1+bonus_rate)
total_salary_list = [salary * 1.1 for salary in salary_list]

total_salary_list '''

''' jobs_data = [
    {
        "job_title": "Data Scientist",
        "job_skills": ["Python", "Machine Learning"],
        "remote": True
    },
    {
        "job_title": "Data Analyst",
        "job_skills": ["SQL", "Tableau", "Python"],
        "remote": False
    },
    {
        "job_title": "Machine Learning Engineer",
        "job_skills": ["Python", "TensorFlow", "MLOps"],
        "remote": True
    },
    {
        "job_title": "Backend Developer",
        "job_skills": ["Node.js", "MongoDB", "API Development"],
        "remote": False
    },
    {
        "job_title": "Cloud Engineer",
        "job_skills": ["AWS", "Docker", "Kubernetes"],
        "remote": True
    }
]

list(filter(lambda job: job["remote"], jobs_data)) '''

import my_module

my_module.skill_list

['Python', 'SQL', 'Oracle', 'Flutter']